:root {
    --light-cornflower-blue: #8ecae6;
    --blue-green: #219ebc;
    --blue-sapphire: #126782;
    --prussian-blue: #023047;
    --honey-yellow: #ffb703;
    --orange-peel: #fd9e02;
    --orange: #fb8500;
}

body {
    margin: 0px;
}

nav {
    background-color: var(--blue-green);
    margin: 0px;
}

h1 {
    text-align: center;
    margin: 0px;
    padding: 20px;
}

.library {
    position: relative;
    min-height: 80vh;
    margin: 0px;
    padding: 20px 40px;
    background-color: var(--light-cornflower-blue);
}

.bookTable {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.record {
    z-index: 2;
    background-color: var(--blue-green);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px var(--orange-peel);
}

.record .author {
    font-style: italic;
}

.record p {
    margin: 0;
}

.record h3 {
    margin: 0;
}

.record .delete {
    font-size: 0.8em;
    margin-top: 5px;
}

.index {
    border: 2px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.addBook {
    padding-top: 2px;
}

.libraryTriangle {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-bottom: solid 250px var(--orange-peel);
    border-left: 100vw solid rgba(0, 0, 0, 0);
    z-index: 1;
}

.form {
    outline: 12px groove var(--orange-peel);
    background-color: var(--blue-green);
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.form h4,
.form button {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

footer {
    background-color: var(--orange-peel);
    height: 8vh;
}
